/* 全局范围内设定了 box-sizing 属性的值为 border-box */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* 定义css变量 */
:root {
  --color-white: #f3f3f3; /* 白色 */
  --color-darkblue: #1b1b32; /* 深蓝色 */
  --color-darkblue-alpha: rgba(27, 27, 50, 0.8); /* 深蓝色透明度 */
  --color-green: #37af65; /* 绿色 */
}

/* body设置 */
body {
    /* font-family: "Popins", sans-serif; */
    font-size: 1rem;
    height: 100vh; /* 新增这一行 */
    font-weight: 400;
    line-height: 1.4;
    margin: 0;
    color: var(--color-white);
}

/* body::before 设置 */
body::before {
    content: '';
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: -1;
    background: var(--color-darkblue);
    background-image: linear-gradient(
        115deg,
        rgba(58, 58, 158, 0.8),
        rgba(136, 136, 206, 0.7)
      ),
      url(https://cdn.freecodecamp.org/testable-projects-fcc/images/survey-form-background.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }



div {
    background-color: rgba(0,0,0,0.7);
    color: #FFFFFF;
    margin: 0;
    width: 50%;
    margin: auto;
}


label {
    display: block;
    margin: 0;
}

/* 关于 title 和 描述部分 */
#title,#description  {
    text-align: center;
    font-size: 2em;
    margin: 0;
    color: #FFFFFF;

}
